<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %> container">
    <%= msg.html_safe %>
  </div>
<% end %>

<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
