<% if notice %>
  <div class="alert alert-success" role="notice" id="notice"><%= notice %>
  <a href="#" class="close" data-dismiss="notice">×</a>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" role="alert" id="alert"><%= alert %>
  <a href="#" class="close" data-dismiss="alert">×</a>
  </div>
<% end %>
